.cover{
	height: 200px;
	width: 100%;
	background-image: url(/assets/img/illustration_1.png);
	background-size: cover;
	margin-top: -11px;
    border-radius: 0 0 4px 4px;
    & h2{
    	font-size:4em;
    	text-decoration: underline #7b3a167d;
    	padding-left: 20px;
    }
}

div.user-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    &>img{
        background-color: #fff;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: inherit;
        object-fit: cover;
        display: block;
    }
}