<div class="p-16 row">

	<div class="col s12 m8">
		<div class="row p-10" *ngIf="pools.length > 0">
			<div *ngFor="let pool of pools" class="col s12 m6 l4">
				<app-project-cover [project]="pool.value" [size]="'inline'" [showPublished]="true"></app-project-cover>
			</div>
		</div>

		<div *ngIf="pools.length == 0">
			<h4 class="text-center weight-300">
				no pools yet
			</h4>
		</div>
	</div>

	<div class="col s12 m4 pt-10">
		<div class="">
			<h1 class="text-center" style="text-decoration: underline #f25d51;font-weight: 900;">
				{{studio.name}} Studio
			</h1>
		</div>

		<div *ngIf="is_mine" class="text-center p-16">
			<button mat-button class="colorful-button" (click)="addPool()">
				<i class="ion-ios-add mr-10" style="vertical-align: unset;"></i>
				Add pool
			</button>
		</div>
		<img src="/assets/img/social.png" style="transform: scaleX(-1);" class="full-width">
	</div>
</div>