<!-- <app-sidenav [page]="'studio'" [component]="component"></app-sidenav> -->
<div class="no-with-sidenav">
	<div *ngIf="!pools" class="row">
		<div class="col s12 text-center">
			<h4 class="weight-300 text-grey">You do not have any pools yet</h4>
			<button mat-flat-button color="warn" class="bg-green" (click)="addPool()">
				<i class="ion-ios-add mr-10"></i>
				Create pool
			</button>
		</div>
	</div>

	<div *ngIf="pools && pools.length > 0" class="p-16 row">

		<div class="col s12 m8">

			<div class="col s12">
				<div class="pb-10 row panel pt-10 rounded" style="margin: 10px 0">
					<div class="col s12 m6">
						
						<button mat-button class="mr-10 weight-300" (click)="goBack()">
							<i class="ion-ios-arrow-round-back mr-10" style="vertical-align: unset;"></i>
							Profile
						</button>
						
					</div>
					<div class="col s12 m6 text-right right-actions">
						<button mat-button class="bg-light-grey weight-300" (click)="addPool()">
							<i class="ion-ios-color-wand mr-10" style="vertical-align: unset;"></i>
							New pool
						</button>
						<button mat-button class="weight-300 bg-light-grey" (click)="openStudioSettings()">
							<i class="ion-ios-cog mr-10" style="vertical-align: unset;"></i>
							Settings
						</button>
					</div>
				</div>
			</div>


			<div class="row p-10">
				<div *ngFor="let pool of pools" class="col s12 m6 l4">
					<div class="light-border rounded bg-white p-16 pointer drop-shadow mt-10" (click)="openPool(pool._id)">
						<h4 class="weight-300 text-grey mt-10">
							<i *ngIf="pool.private" class="ion-ios-lock float-right"></i>
							{{pool.name}}
							<mat-chip-list class="bewed-chips" style="display: inline-block;">
								 <mat-basic-chip>{{pool.viewCategory || pool.category}}</mat-basic-chip>
							</mat-chip-list>
						</h4>
						<div class="text-grey">
							<span>hello</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col s12 m4 pt-10">
			<img src="/assets/img/2.png" class="full-width">
		</div>
	</div>
</div>