<!-- <app-sidenav [page]="'pool'" [component]="component"></app-sidenav> -->

<div class="no-with-sidenav">


	<div *ngIf="pool.name" class="row p-16">
		<div class="col s6 m8 row">


			<div class="col s12">
				<div class="pb-10 row panel rounded pt-10" style="margin: 10px 0">
					<div class="col s12 m6">
						
						<button mat-button class="mr-10 weight-300" (click)="goBack()">
							<i class="ion-ios-arrow-round-back mr-10" style="vertical-align: unset;"></i>
							Studio
						</button>

						<!-- <button mat-button class="weight-300 mr-10">
							<i class="ion-md-body mr-10" style="vertical-align: unset;"></i>
							Mates
						</button> -->
						
						<button mat-button class="weight-300 bg-green text-white" *ngIf="!pool.published" (click)="publishPool(true)">
							<i class="ion-ios-megaphone mr-10" style="vertical-align: unset;"></i>
							Publish
						</button>

						<button mat-button class="weight-300 bg-orange text-white" *ngIf="pool.published" (click)="publishPool(false)">
							<i class="ion-ios-power mr-10" style="vertical-align: unset;"></i>
							Unpublish
						</button>
						
					</div>
					<div class="col s12 m6 text-right right-actions">
						
						<button mat-button class="weight-300 bg-light-grey" (click)="newTask()">
							<i class="ion-ios-color-wand mr-10" style="vertical-align: unset;"></i>
							New task
						</button>

						<button mat-button class="weight-300 bg-light-grey" (click)="openPoolSettings()">
							<i class="ion-ios-cog mr-10" style="vertical-align: unset;"></i>
							Settings
						</button>
					</div>
				</div>
			</div>


			<div *ngIf="tasks.length == 0" class="container">
				
				<h2 class="text-center text-grey weight-300 no-mb">Here you will find open projects</h2>
				<h5 class="text-center weight-300 no-mt">to create a project click on <i class="ion-md-add marker"></i> in the side menu</h5>
				<div class="container">
					<img src="assets/img/shopping.svg" class="full-width">
				</div>
			</div>

			<div *ngIf="tasks.length > 0">
				<div *ngFor="let task of tasks" class="col s12 m6 l4">
					<mat-card class="status{{task.status}} task drop-shadow mat-card" (click)="openTask(task._id)">
						<!-- <img src="/assets/img/task_cover_2.png" class="full-width cover"> -->
						<div class="p-10">
							<span class="d-block mt-10">
								{{task.name}}
							</span>
							<p class="text-grey weight-300 description no-mt">
								{{task.description}}
							</p>
							<div class="actions text-right">

								<span *ngIf="task.status == 1" class="todo">
									To do
								</span>
								<span *ngIf="task.status == 2" class="progress">
									In Progress
								</span>
								<span *ngIf="task.status == 3" class="done">
									Done
								</span>

								<button mat-icon-button class="mr-10">
									<i class="ion-ios-apps"></i>
									1
								</button>
								<button mat-icon-button>
									<i class="ion-md-pulse"></i>
									3
								</button>
							</div>
						</div>
					</mat-card>
				</div>
			</div>

		</div>

		<div class="col s6 m4">
			<div class="p-26 no-pt">
				<div>
					<img src="{{cover}}" class="full-width">
				</div>
				<h1 class="text-center no-mb" style="text-decoration: underline #f25d51;font-weight: 900;">{{pool.name}}</h1>
				<div class="text-center">
					<div class="user-photo"><div></div></div>
				</div>

				<div class="text-center p-16">
					<span>{{pool.viewCategory}}</span>
				</div>
				<span *ngIf="pool.description" class="d-block p-16 no-pt text-right weight-300" style="font-size: 0.9em">
					{{pool.description}}
				</span>
				<div class="contact-links mb-10">
					<a href="">
						<i class="ion-logo-vk"></i>
					</a>
					<a href="">
						<i class="ion-logo-github"></i>
					</a>
					<a href="">
						<i class="ion-logo-instagram"></i>
					</a>
				</div>
				<span *ngIf="pool.tags" class="text-grey d-block weight-300 p-16 no-pt text-center" style="font-size: 0.9em">
					<a *ngFor="let tag of pool.tags" routerLink="/tags/{{tag}}" class="text-dark tag-marker">{{tag}}</a>
				</span>

				<div class="p-16 row no-mb light-border-top">
					<div class="col s4 text-center">
						<span class="bold d-block" style="font-size: 2em">0</span>
						<span class="d-block small-text text-grey">Projects</span>
					</div>
					<div class="col s4 text-center">
						<span class="bold d-block" style="font-size: 2em">1</span>
						<span class="d-block small-text text-grey">Mates</span>
					</div>
					<div *ngIf="!pool.private" class="col s4 text-center">
						<a>
							<span class="bold d-block" style="font-size: 2em">0</span>
							<span class="d-block small-text text-grey">Watch</span>
						</a>
					</div>
					<div *ngIf="pool.private" class="col s4 text-center">
						<a>
							<i class="ion-ios-lock" style="font-size: 2em"></i>
							<span class="d-block small-text text-grey">Private</span>
						</a>
					</div>
				</div>
				
				<div class="p-16 text-center row">
					<div class="col s6">
						<button mat-button class="full-width weight-300" (click)="openPoolSettings()" style="border-radius: 40px;padding: 8px 0">
							<i class="ion-ios-cog mr-10"></i>
							Settings
						</button>
					</div>
					<div class="col s6">
						<button class="bg-orange text-white full-width weight-300 arrow-animation" mat-button style="border-radius: 40px;padding: 8px 0">
							<i class="ion-ios-arrow-round-forward mr-10"></i>
							Watch
						</button>
					</div>
					<button class="full-width weight-300 bg-green text-white mt-10" mat-button *ngIf="pool.sponsor" style="border-radius: 40px;padding: 8px 0">
						<i class="ion-logo-usd mr-10"></i>
						Sponsor
					</button>
				</div>

			</div>

		</div>
	</div>

	<div *ngIf="!pool.name">
		<h2 class="weight-300 text-center p-16 no-mb">
			<i class="ion-md-finger-print text-grey mr-10"></i>
			Pool does not exist
		</h2>
		<div style="max-width: 400px" class="m-auto">
			<img src="assets/img/empty.png" class="full-width mt-10">
		</div>
	</div>
	
</div>
