.sidenav{
    z-index: 89;
    display: flex;
    // display: none;
  	flex-direction: column;
  	justify-content: center;
	position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    background: #fff;
    bottom: 0;
    ul{
    	padding-left: 0;
        & li{
        	list-style: none;
        	display: block;
        	text-align: center;
        	& a{
        		padding: 18px 23px;
        		color: #686b79;
        		transition: 250ms;
        		display: inline-block;
        		border-radius: 12px;
                cursor: pointer;
        		.mat-icon{
        			height: auto;
        			padding: 4px 0;
        		}
        	}
        	a.selected,
        	a:hover{
        		background: #ffe59c;
        		color: #000;
        		transform: scale(0.8);
        	}
        }
    }
}