<div class="sidenav" *ngIf="sidenavEnabled">
    <ul>
        <li>
            <a routerLink="/logout">
                <i class="ion-md-gift"></i>
            </a>
        </li>
        <li>
          <a routerLink="/">
                <i class="ion-md-apps"></i>
            </a>
        </li>
        <li>
            <a routerLink="/msg">
                <i class="ion-md-paper-plane"></i>
            </a>    
        </li>
        <li>
            <a routerLink="/user">
                <i class="ion-md-ribbon"></i>
            </a>
        </li>
        <li>
            <a routerLink="/user">
                <i class="ion-md-stopwatch"></i>
            </a>
        </li>

 
    </ul>
</div>