.top-navigator{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 100px;
    width: 100px;
    border-radius: 0 50% 0 0;
    background-color: rgba(163, 163, 163, 0.1);
	&:hover{
		background-color: #96cbf16b;
		cursor: pointer;
	}
}