<h5 *ngIf="news.length == 0" class="text-grey weight-300 text-center">No news yet</h5>

<mat-card *ngFor="let post of news" class="p-16">
	<div *ngIf="post.value.layout == 'kanban'">

		<div *ngIf="post.value.task.update_trigger == 0">
			<div class="row pb-10 light-border-bottom">
				<span *ngIf="post.value.task.user_id" class="weight-300">
					<a routerLink="/user/{{post.value.task.user_id}}">{{post.value.task.user_id}}</a> created new task in
				</span>
				<a routerLink="/studio/{{post.value.user_id}}/{{post.id}}">{{post.value.pool}}</a>
				<span class="text-grey small-text" style="position: absolute;left: 16px; bottom: 16px">{{post.value.task.updated | date: 'HH:mm, d. MMMM' }}</span>
			</div>
			<div class="row">
				<span class="d-block">{{post.value.task.name}}</span>
				<p class="d-block text-grey weight-300">{{post.value.task.description}}</p>
			</div>
		</div>

		<div *ngIf="post.value.task.update_trigger == 1">
			<div class="row pb-10 light-border-bottom">
				<span *ngIf="post.value.task.user_id" class="weight-300">
					<a routerLink="/user/{{post.value.task.user_id}}">{{post.value.task.user_id}}</a> changed status in
				</span>
				<a routerLink="/studio/{{post.value.user_id}}/{{post.id}}">{{post.value.pool}}</a>
				<span class="text-grey small-text" style="position:absolute;left:16px;bottom:16px">{{post.value.task.updated | date: 'HH:mm, d. MMMM' }}</span>
			</div>
			<div class="row">
				<p class="weight-300 text-grey">
					Status of "{{post.value.task.name}}" has been changed to <span class="marker">{{parseTaskStatus(post.value.task.status)}}</span>
				</p>
			</div>
		</div>

<!-- 		<div *ngIf="post.value.task.update_trigger == 2">
			<div class="row pb-10 light-border-bottom">
				<span *ngIf="post.value.task.user_id" class="weight-300">
					<a routerLink="/user/{{post.value.task.user_id}}">{{post.value.task.user_id}}</a> commented task in
				</span>
				<a routerLink="/studio/{{post.value.user_id}}/{{post.id}}">{{post.value.pool}}</a>
				<span class="text-grey small-text" style="float: right;">{{post.value.task.updated | date: 'HH:mm, MMM d y' }}</span>
			</div>
			<h4 class="weight-300">
				Status of {{post.value.task.name}} has been changed to <span class="marker">{{parseTaskStatus(post.value.task.status)}}</span>
			</h4>
		</div> -->

	</div>

	<div *ngIf="post.value.layout == 'gallery'">
		<div class="row weight-300">
			New image in
			<a routerLink="/studio/{{post.value.user_id}}/{{post.id}}" style="font-weight: 400">{{post.value.pool}}</a>
			<span class="text-grey small-text" style="position: absolute;left: 16px; bottom: 26px">{{post.value.task.created | date: 'HH:mm, d. MMMM' }}</span>
		</div>
		<div class="row no-mb" style="cursor: pointer;">
			<img class="full-width" src="{{post.value.task.image}}" style="height: 550px;object-fit: cover;width: calc(100% + 32px);margin: 0 -16px;">
		</div>
		<div class="row no-mb text-right mt-10">
			<button mat-flat-button style="font-size: 1.2em" class="weight-300">
				{{post.value.task.comments.length}}
				<i class="ion-md-paper-plane"></i>
			</button>
			<button mat-flat-button style="font-size: 1.2em" class="weight-300">
				{{post.value.task.likes.length}}
				<i *ngIf="!post.value.task.likes.includes(me)" class="ion-md-heart-empty"></i>
				<i *ngIf="post.value.task.likes.includes(me)" class="ion-md-heart" style="color: #f26a60"></i>
			</button>
		</div>
	</div>

</mat-card>

<div *ngIf="loadNextVisible" class="text-center p-16">
	<button mat-button class="weight-300" (click)="loadNext()">load next</button>
</div>

<div class="top-navigator vertical-middle text-center" (click)="goTop()">
	<i class="ion-ios-arrow-up"></i>
</div>