div.contact-links{
	text-align: center;
	&>a{
		padding: 12px 18px;
		display: inline-block;
		font-size: 1.2em;
		color: #3b4061;
		&:hover{
			color: #222;
			transform: scale(1.2);
		}
	}
}
.task{
	padding: 0;
	&>img.cover{
		height: 100px;
		border-radius: 4px 4px 0 0;
		object-fit: cover;
		object-position: bottom;
	}
	& div.actions i{
		margin-right: 2px;
	}
}