<div style="width: 550px">
	<button mat-icon-button (click)="close()" class="close-button">
		<i class="ion-md-close"></i>
	</button>
	<h2 class="p-16 no-pt">Pool settings</h2>
	<div class="">
		<form class="row no-mb" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
			
			<mat-form-field class="d-block col s6" appearance="outline">
				<mat-label>Pool name</mat-label>
				<input matInput type="text" formControlName="name" autocomplete="off" [value]="pool.name" required="required">
			</mat-form-field>

			<mat-form-field class="d-block col s6" appearance="outline">
				<mat-label>Category</mat-label>
				<mat-select placeholder="Category" formControlName="category" required>
					<mat-option *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field class="d-block col s12" appearance="outline">
				<mat-label>Tags</mat-label>
				<input matInput type="text" autocomplete="off" formControlName="tags">
			</mat-form-field>


			<mat-form-field class="d-block col s12" appearance="outline">
				<mat-label>Description</mat-label>
				<textarea matInput type="text" autocomplete="off" formControlName="description"></textarea>
			</mat-form-field>


			<mat-form-field class="example-chip-list d-block col s12">
				<mat-chip-list #chipList aria-label="Fruit selection">
					<mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
						{{tag.tag}}
						<i matChipRemove *ngIf="removable" class="ion-md-close"></i>
					</mat-chip>
					<input placeholder="New tag..."
						[matChipInputFor]="chipList"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						[matChipInputAddOnBlur]="addOnBlur"
						(matChipInputTokenEnd)="add($event)">
				</mat-chip-list>
			</mat-form-field>


			<div class="col s12 row light-border-bottom" style="padding-bottom: 12px">
				<div class="no-mb col s6">
					<mat-checkbox color="warn" formControlName="private">private pool</mat-checkbox>
					<h5 class="weight-300 text-grey no-mb no-mt">private pools are only for you visible</h5>
				</div>
				<div class="col s6">
					<div class="no-mb">
						<mat-checkbox color="warn" formControlName="sponsor">sponsor button</mat-checkbox>
						<h5 class="weight-300 text-grey no-mb no-mt">let other users help you</h5>
					</div>
				</div>
			</div>
			<div class="col s6">
				<button mat-flat-button type="button" color="warn" (click)="deletePool()">
					<i class="ion-ios-trash mr-10" style="vertical-align: unset;"></i>
					Delete
				</button>
			</div>
			<div class="col s6 text-right">
				<button mat-button type="button" class="mr-10 bg-light-grey" (click)="close()">Cancel</button>
				<button mat-button type="submit" class="bg-green text-white" style="padding: 0 40px">Save</button>
			</div>
		</form>
	</div>
</div>