<div class="row home-container">
	<div class="col s0 m0 l6">
		<h1 class="text-grey weight-300 text-center" style="margin-bottom: 0">Become part of big idea</h1>
		<h1 class="text-grey text-center" style="font-weight:900;font-size:3.2em;margin-top:-16px;color:#646c99 !important">by small steps</h1>
		<img src="assets/img/4.png" class="d-block full-width" style="margin:auto;">
	</div>
	<div class="col s12 m12 l6">
		<app-register></app-register>
	</div>
</div>

<div class="row home-container" style="background-color: #e5ebf8">
	<div class="col s12 m6">
		<img src="assets/img/illustration.png" style="max-width: 100%">
	</div>
	<div class="col s12 m6" style="margin-top: 5%">
		<h2 class="text-grey weight-300"><i class="ion-md-color-wand mr-10"></i>Discover interesting projects</h2>
		<p class="weight-300">
			Different projects and activities from all fields are waiting for you. Become part of the history and motivate another people
		</p>
		<div class="">
			<a class="arrow-animation" mat-flat-button color="primary" routerLink="/explore" style="background-color: #4a78be">
				<i class="ion-ios-arrow-round-forward"></i>
				Explore projects
			</a>
		</div>
	</div>
</div>

<div class="row home-container">
	<div class="col s12 m7" style="margin-top: 5%">
		<h2 class="text-grey weight-300"><i class="ion-ios-desktop mr-10"></i>Share your projects</h2>
		<p class="weight-300">
			Different projects and activities from all fields are waiting for you. Become part of the history and motivate another people
		</p>
		<div class="">
			<a class="arrow-animation" mat-flat-button color="primary" routerLink="/explore" style="background-color:#4abe88">
				<i class="ion-ios-arrow-round-forward"></i>
				Get started
			</a>
		</div>
	</div>
	<div class="col s12 m5">
		<img src="assets/img/nothing.png" class="full-width">
	</div>
</div>

<app-footer></app-footer>