<div class="row home-container" style="margin-top: 25px">
	<div class="col s12 m5">
		<img src="assets/img/illustration.png" style="max-width: 100%">
	</div>
	<div class="col s12 m7" style="margin-top: 5%">
		<h2 class="text-grey weight-300"><i class="ion-md-color-wand mr-10"></i>Discover interesting projects</h2>
		<p class="weight-300">
			Different projects and activities from all fields are waiting for you. Become part of the history and motivate another people
		</p>
		<div class="">
			<a class="arrow-animation" mat-flat-button color="primary" routerLink="/explore" style="background-color: #4a78be">
				<i class="ion-ios-arrow-round-forward"></i>
				Explore projects
			</a>
		</div>
	</div>
</div>
<div class="row home-container" style="background-color: #fff;border:1px #dcdee8 solid;border-right: 0;border-left: 0">
	<div class="col s12 m7" style="margin-top: 5%">
		<h2 class="text-grey weight-300"><i class="ion-ios-desktop mr-10"></i>Share your projects</h2>
		<p class="weight-300">
			Different projects and activities from all fields are waiting for you. Become part of the history and motivate another people
		</p>
		<div class="">
			<a class="arrow-animation" mat-flat-button color="primary" routerLink="/explore" style="background-color:#4abe88">
				<i class="ion-ios-arrow-round-forward"></i>
				Get started
			</a>
		</div>
	</div>
	<div class="col s12 m5">
		<img src="assets/img/nothing.png" class="full-width">
	</div>
</div>

<div class="row home-container">
	<div class="col s12 m4">
		<h2 class="text-grey weight-300"><i class="ion-ios-link mr-10"></i>Still no profile? Create and start</h2>
		<img src="assets/img/character.png" style="max-width:100%;max-height:500px;margin:auto;display: block">
	</div>
	<div class="col s12 m8">
		<app-register></app-register>
	</div>
</div>