<form [formGroup]="form" (ngSubmit)="onChangePassword(form.value)" class="p-16 mt-10 p-relative" style="max-width: 550px">
	<button mat-icon-button class="p-absolute" type="button" style="top:-27px;right:-15px;font-size:1.5em" (click)="close()">
		<i class="ion-ios-close"></i>
	</button>
	<div class="row no-mb">
		<div class="col s12">
			<mat-form-field class="d-block"  appearance="outline">
				<mat-label>Old password</mat-label>
				<input matInput [type]="hideOld ? 'password' : 'text'" formControlName="old_password" autocomplete="off" [value]="">
				<button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button" 
						style="top: -8px">
					<i class="ion-md-eye{{hideOld ? '-off' : ''}}"></i>
				</button>
			</mat-form-field>
		</div>
		<div class="col s12">
			<mat-form-field class="d-block"  appearance="outline">
				<mat-label>New password</mat-label>
				<input matInput type="password" formControlName="new_password" autocomplete="off" [value]=""  [type]="hideNew ? 'password' : 'text'">
				<button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button" 
						style="top: -8px">
					<i class="ion-md-eye{{hideNew ? '-off' : ''}}"></i>
				</button>
			</mat-form-field>
		</div>
		<div class="col s6">
			<a routerLink="/reset-password" mat-button class="weight-300">
				<i class="ion-md-arrow-round-forward mr-10"></i>
				Forgot password
			</a>
		</div>
		<div class="col s6 text-right">
			<button mat-flat-button type="submit" color="primary" [disabled]="saveDisabled" style="padding: 0 44px">
				Change password
			</button>
		</div>
	</div>
</form>