.user-photo{
	padding: 2px;
	border-radius: 50%;
	background: linear-gradient(45deg, #f5b556, #f85e30);
	display: inline-block;
	position: relative;
	box-shadow: 0 0 12px #ff007657;
	// &::before{
	// 	content: "";
	//     display: inline-block;
	//     position: absolute;
	//     width: 25px;
	//     height: 2px;
	//     border-radius: 50%;
	//     background-color: #f35d4e;
	//     right: -23px;
	//     top: 50%;
	//     box-shadow: 0 0 12px #f99468;
	// }
	// &::after{
	// 	content: "";
	//     display: inline-block;
	//     position: absolute;
	//     width: 	8px;
	//     height: 8px;
	//     border-radius: 50%;
	//     background-color: #f35d4e;
	//     right: 8%;
	//     top: 19%;
	// }
}
.user-photo>div{
	border: 6px white solid;
	display: inline-block;
	margin: auto;
	width: 175px;
	height: 175px;
	border-radius: inherit;
    background: url("/assets/img/0c347a3d87cc0fb11db60553082a621df6c467eb.jpg");
    background-position: center;
    background-size: cover;
    display: block;
}
div.contact-links{
	text-align: center;
	&>a{
		padding: 12px 18px;
		display: inline-block;
		font-size: 1.2em;
		color: #3b4061;
		&:hover{
			color: #222;
			transform: scale(1.2);
		}
	}
}
.legend>a{
	font-weight: 300;
	display: inline-block;
	padding: 7px 12px;
	font-size: 0.9em;
}