<div class="container mt-10">
	<div class="row light-border-bottom p-16">
		<div class="col s4">
			<div class="user-photo light-border text-center">
				<i class="ion-md-camera text-grey p-16" style="display: inline-block;"></i>
			</div>
		</div>
		<div class="col s4 weight-300">
			<span class="d-block mb-10">
				follows: 0
			</span>
			<span class="d-block">
				followers: 0
			</span>
		</div>
		<div class="col s4 text-center weight-300">
			<button mat-button class="weight-300">Settings</button>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h2 class="text-center text-grey weight-300">Here you will find open projects</h2>
			<div class="container">
				<img src="assets/img/shopping.svg" class="full-width">
			</div>
		</div>
	</div>
</div>