
<mat-card class="card">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" style="padding: 12px 34px">

		<div class="example-container">
			<mat-form-field style="display: block;margin: 8px">
				<mat-label>User name</mat-label>
				<input matInput placeholder="Enter your user name" type="text" formControlName="name">
			</mat-form-field>
<!-- 			appearance="outline" -->
			<mat-form-field style="display: block;margin: 8px">
				<mat-label>Your password</mat-label>
				<input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				<!-- <mat-hint>Hint</mat-hint> -->
			</mat-form-field>
		</div>
		<div style="text-align: right;">
	  		<button mat-flat-button color="primary" class="button" type="submit" style="margin-right: 10px">Login</button>
	  		<button mat-button color="primary" class="button" type="submit">Forgot password?</button>
		</div>
	</form>
</mat-card>