<div class="col s12">
	<div class="pb-10 row panel rounded pt-10" style="margin: 10px 0">
		<div class="col s12 m6">
			
			<button mat-button class="mr-10 weight-300" (click)="goBack()">
				<i class="ion-ios-arrow-round-back mr-10" style="vertical-align: unset;"></i>
				Studio
			</button>
			
			<button mat-button class="weight-300 bg-green text-white" *ngIf="!pool.published" (click)="publishPool(true)">
				<i class="ion-ios-megaphone mr-10" style="vertical-align: unset;"></i>
				Publish
			</button>

			<button mat-button class="weight-300 bg-orange text-white" *ngIf="pool.published" (click)="publishPool(false)">
				<i class="ion-ios-power mr-10" style="vertical-align: unset;"></i>
				Unpublish
			</button>
			
		</div>
		<div class="col s12 m6 text-right right-actions">
			
			<button mat-button class="weight-300 bg-light-grey" (click)="newTask()">
				<i class="ion-ios-color-wand mr-10" style="vertical-align: unset;"></i>
				New task
			</button>

			<button mat-button class="weight-300 bg-light-grey" (click)="openPoolSettings()">
				<i class="ion-ios-cog mr-10" style="vertical-align: unset;"></i>
				Settings
			</button>
		</div>
	</div>
</div>


<div *ngIf="pool.tasks.length == 0" class="container">
	
	<h2 class="text-center text-grey weight-300 no-mb">Here you will find open projects</h2>
	<h5 class="text-center weight-300 no-mt">to create a project click on <i class="ion-md-add marker"></i> in the side menu</h5>
	<div class="container">
		<img src="assets/img/shopping.svg" class="full-width">
	</div>
</div>


<!-- -->

<div *ngIf="waiting_tasks.length > 0" class="row light-border-bottom">
	<h3 class="text-grey weight-300 col s12">Waiting</h3>
	<div *ngFor="let task of waiting_tasks" class="col s12 m6 l4">
		<mat-card class="status{{task.status}} task drop-shadow mat-card" (click)="openTask(task._id)">
			<div class="p-10">
				<span class="d-block mt-10">
					{{task.name}}
				</span>
				<p class="text-grey weight-300 description no-mt">
					{{task.description}}
				</p>
				<div class="actions text-right">

					<span *ngIf="task.status == 1" class="todo">
						To do
					</span>
					<span *ngIf="task.status == 2" class="progress">
						In Progress
					</span>
					<span *ngIf="task.status == 3" class="done">
						Done
					</span>

					<button *ngIf="task.comments" mat-icon-button class="mr-10">
						<i class="ion-ios-chatbubbles"></i>
						{{task.comments.length}}
					</button>
					<button mat-icon-button>
						<i class="ion-md-pulse"></i>
						3
					</button>
				</div>
			</div>
		</mat-card>
	</div>
</div>

<div *ngIf="todo_tasks.length > 0" class="row light-border-bottom">
	<h3 class="text-grey weight-300 col s12">To do</h3>
	<div *ngFor="let task of todo_tasks" class="col s12 m6 l4">
		<mat-card class="status{{task.status}} task drop-shadow mat-card" (click)="openTask(task._id)">
			<div class="p-10">
				<span class="d-block mt-10">
					{{task.name}}
				</span>
				<p class="text-grey weight-300 description no-mt">
					{{task.description}}
				</p>
				<div class="actions text-right">

					<span *ngIf="task.status == 1" class="todo">
						To do
					</span>
					<span *ngIf="task.status == 2" class="progress">
						In Progress
					</span>
					<span *ngIf="task.status == 3" class="done">
						Done
					</span>

					<button *ngIf="task.comments" mat-icon-button class="mr-10">
						<i class="ion-ios-chatbubbles"></i>
						{{task.comments.length}}
					</button>
					<button mat-icon-button>
						<i class="ion-md-pulse"></i>
						3
					</button>
				</div>
			</div>
		</mat-card>
	</div>
</div>

<div *ngIf="active_tasks.length > 0" class="row light-border-bottom">
	<h3 class="text-grey weight-300 col s12">In Progress</h3>
	<div *ngFor="let task of active_tasks" class="col s12 m6 l4">
		<mat-card class="status{{task.status}} task drop-shadow mat-card" (click)="openTask(task._id)">
			<div class="p-10">
				<span class="d-block mt-10">
					{{task.name}}
				</span>
				<p class="text-grey weight-300 description no-mt">
					{{task.description}}
				</p>
				<div class="actions text-right">

					<span *ngIf="task.status == 1" class="todo">
						To do
					</span>
					<span *ngIf="task.status == 2" class="progress">
						In Progress
					</span>
					<span *ngIf="task.status == 3" class="done">
						Done
					</span>

					<button *ngIf="task.comments" mat-icon-button class="mr-10">
						<i class="ion-ios-chatbubbles"></i>
						{{task.comments.length}}
					</button>
					<button mat-icon-button>
						<i class="ion-md-pulse"></i>
						3
					</button>
				</div>
			</div>
		</mat-card>
	</div>
</div>

<div *ngIf="done_tasks.length > 0" class="row light-border-bottom">
	<h3 class="text-grey weight-300 col s12">Done</h3>
	<div *ngFor="let task of done_tasks" class="col s12 m6 l4">
		<mat-card class="status{{task.status}} task drop-shadow mat-card" (click)="openTask(task._id)">
			<div class="p-10">
				<span class="d-block mt-10">
					{{task.name}}
				</span>
				<p class="text-grey weight-300 description no-mt">
					{{task.description}}
				</p>
				<div class="actions text-right">

					<span *ngIf="task.status == 1" class="todo">
						To do
					</span>
					<span *ngIf="task.status == 2" class="progress">
						In Progress
					</span>
					<span *ngIf="task.status == 3" class="done">
						Done
					</span>

					<button *ngIf="task.comments" mat-icon-button class="mr-10">
						<i class="ion-ios-chatbubbles"></i>
						{{task.comments.length}}
					</button>
					<button mat-icon-button>
						<i class="ion-md-pulse"></i>
						3
					</button>
				</div>
			</div>
		</mat-card>
	</div>
</div>