<div *ngIf="pool.user == me" class="mt-10">
	<button mat-button class="bg-light-grey weight-300 mr-10" style="padding: 2px 55px;border-radius: 40px" (click)="newTask()">
		<i class="ion-ios-attach mr-10" style="vertical-align: unset;"></i>
		Add task
	</button>
</div>

<div *ngIf="pool.tasks.length == 0" class="container">
	
	<h2 class="text-center text-grey weight-300 no-mb">Here you will find open projects</h2>
	<h5 class="text-center weight-300 no-mt">to create a project click on <i class="ion-md-add marker"></i> in the side menu</h5>
	<div class="container">
		<img src="assets/img/shopping.svg" class="full-width">
	</div>
</div>

<!-- -->

<div *ngIf="pool.tasks.length > 0"  class="row mt-10">
	<div class="col s12 m6 l3 light-border-right waiting-col" style="min-height: calc(100vh - 210px);">
		<h3 class="text-grey weight-300 pb-10 light-border-bottom text-center">Waiting</h3>
		<div *ngFor="let task of waiting_tasks" class="qwe">
			<mat-card class="status{{task.status}} task drop-shadow mat-card" (click)="openTask(task._id)">
				<div class="p-10 no-pb">
					<span class="d-block mt-10">
						{{task.name}}
					</span>
					<p class="text-grey weight-300 description no-mt">
						{{task.description}}
					</p>
					<div class="actions text-right">

						<button *ngIf="task.comments" mat-icon-button class="mr-10">
							<i class="ion-md-paper-plane" style="vertical-align: bottom;"></i>
							{{task.comments.length}}
						</button>
						<button mat-icon-button>
							<i class="ion-md-body" style="vertical-align: bottom;"></i>
							1
						</button>
					</div>
				</div>
			</mat-card>
		</div>
	</div>

	<div class="col s12 m6 l3 light-border-right todo-col" style="min-height: calc(100vh - 210px);">
		<h3 class="text-grey weight-300 pb-10 light-border-bottom text-center">To do</h3>
		<div *ngFor="let task of todo_tasks">
			<mat-card class="status{{task.status}} task drop-shadow mat-card" (click)="openTask(task._id)">
				<div class="p-10 no-pb">
					<span class="d-block mt-10">
						{{task.name}}
					</span>
					<p class="text-grey weight-300 description no-mt">
						{{task.description}}
					</p>
					<div class="actions text-right">

						<button *ngIf="task.comments" mat-icon-button class="mr-10">
							<i class="ion-md-paper-plane" style="vertical-align: bottom;"></i>
							{{task.comments.length}}
						</button>
						<button mat-icon-button>
							<i class="ion-md-body" style="vertical-align: bottom;"></i>
							1
						</button>
					</div>
				</div>
			</mat-card>
		</div>
	</div>

	<div class="col s12 m6 l3 light-border-right active-col" style="min-height: calc(100vh - 210px);">
		<h3 class="text-grey weight-300 pb-10 light-border-bottom text-center">Active</h3>
		<div *ngFor="let task of active_tasks">
			<mat-card class="status{{task.status}} task drop-shadow mat-card" (click)="openTask(task._id)">
				<div class="p-10 no-pb">
					<span class="d-block mt-10">
						{{task.name}}
					</span>
					<p class="text-grey weight-300 description no-mt">
						{{task.description}}
					</p>
					<div class="actions text-right">

						<button *ngIf="task.comments" mat-icon-button class="mr-10">
							<i class="ion-md-paper-plane" style="vertical-align: bottom;"></i>
							{{task.comments.length}}
						</button>
						<button mat-icon-button>
							<i class="ion-md-body"></i>
							1
						</button>
					</div>
				</div>
			</mat-card>
		</div>
	</div>

	<div class="col s12 m6 l3 done-col" style="min-height: calc(100vh - 210px);">
		<h3 class="text-grey weight-300 pb-10 light-border-bottom text-center">Completed</h3>
		<div *ngFor="let task of done_tasks">
			<mat-card class="status{{task.status}} task drop-shadow mat-card" (click)="openTask(task._id)">
				<div class="p-10 no-pb">
					<span class="d-block mt-10">
						{{task.name}}
					</span>
					<p class="text-grey weight-300 description no-mt">
						{{task.description}}
					</p>
					<div class="actions text-right">

						<button *ngIf="task.comments" mat-icon-button class="mr-10">
							<i class="ion-md-paper-plane" style="vertical-align: bottom;"></i>
							{{task.comments.length}}
						</button>
						<button mat-icon-button>
							<i class="ion-md-body"  style="vertical-align: bottom;"></i>
							1
						</button>
					</div>
				</div>
			</mat-card>
		</div>
	</div>

</div>
