.task{
	padding: 0;
	cursor: pointer;
	font-size: 0.85em;
	&.status0{ border-bottom: 2px #adabb9 solid;}
	&.status1{ border-bottom: 2px #fa7369 solid;}
	&.status2{ border-bottom: 2px #6074e1 solid;}
	&.status3{ border-bottom: 2px #36b37e solid;}

	& div.actions i{
		margin-right: 2px;
		vertical-align: bottom;
	}
	& p.description{
		max-height: 100px;
		overflow: hidden;
	}
}