
<mat-card class="card login-card" style="box-shadow: none!important">
	<h2 class="text-center weight-300 mt-10 text-grey">
		Sign in
	</h2>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" style="padding: 12px 34px">

		<div class="login-container">

			<div class="ui left icon input d-block">
				<i class="ion-md-happy icon"></i>
				<input matInput placeholder="User name or e-mail" type="text" formControlName="name" autocomplete="off" required="required">
			</div>

			<div class="ui left icon input d-block">
				<i class="ion-md-key icon"></i>
				<input matInput placeholder="Password" 
						[type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off" required="required">
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button" 
						style="top: 10px; position: absolute; right: 10px;">
					<i class="ion-md-eye{{hide ? '-off' : ''}}"></i>
				</button>
			</div>

		</div>
		<div class="row" style="margin-top: 40px">
			
	  		<div class="col s6" style="padding-left: 0">
	  			<a mat-button class="button text-grey weight-300">Forgot password?</a>
	  		</div>
	  		<div class="col s6 text-right" style="padding-right: 0">
				<button mat-flat-button color="primary" class="bg-green full-width" type="submit">
					<i class="ion-ios-log-in mr-10"></i>Login
				</button>
			</div>
		</div>
	</form>
	<div class="text-separator text-center">
		<small>or login with</small>
	</div>
	<div class="connect-actions row">
		<div class="col s12 m4">
			<button mat-flat-button color="primary" style="background-color: #646c99"><i class="ion-logo-facebook"></i> Facebook</button>
		</div>
		<div class="col s12 m4">
			<button mat-flat-button color="warn" style="background-color: #f15f5f"><i class="ion-logo-google"></i> Google</button>
		</div>
		<div class="col s12 m4">
			<button mat-flat-button color="primary" style="background-color: #36373d"><i class="ion-logo-github"></i> Github</button>
		</div>
	</div>
	<div class="legend">
		<span class="small-text">© foliage, 2019</span>
		<a routerLink="/reset-password" class="text-grey small-text">Reset password</a>
		<a routerLink="/signup" class="text-grey small-text">Sign up</a>
		<a href="" class="text-grey small-text">AGB</a>
		<a href="" class="text-grey small-text">Privacy</a>
		<a href="" class="text-grey small-text">Security</a>
		<a href="" class="text-grey small-text">Cookies</a>
		<a href="" class="text-grey small-text">Help</a>
	</div>
</mat-card>