<div style="min-width: 650px">
	<h3 class="weight-300 text-grey">Develop cover for your pool</h3>
	<button mat-icon-button class="close-button">
		<i class="ion-md-close"></i>
	</button>
	<div class="panel mb-10">
		<button mat-button class="bg-light-grey mr-10 weight-300">
			<i class="ion-md-image" style="vertical-align: unset;margin-right: 3px"></i>
			Image
		</button>
		<button mat-button class="bg-light-grey mr-10 weight-300">
			Text
		</button>
		<button mat-button class="text-white bg-green weight-300" style="float: right;">Save</button>
	</div>

	<div class="rounded" style="min-height: 300px;background: #e6e9f5"></div>
</div>