<div class="gallery">
	<div class="wrapper">
		<div class="unit" style="background-color: #dcdde3;display: inline-block;vertical-align: inherit;display: inline-block;vertical-align: inherit;">
			<div class="vertical-middle" style="height: 100%;position: absolute; width: 100%;">
				<div class="text-center">
					<span class="text-grey" style="font-size: 2em">
						<i class="ion-md-add"></i>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="unit drop-shadow">
			<div class="panel vertical-middle">
				<div class="text-center">
					<span class="mr-10">
						<i class="ion-md-heart"></i>12
					</span>
					<span>
						<i class="ion-ios-chatboxes"></i>0
					</span>
				</div>
			</div>
			<img src="/assets/img/testimgs/0c347a3d87cc0fb11db60553082a621df6c467eb.jpg">
		</div>
	</div>
	<div class="wrapper">
		<div class="unit drop-shadow">
			<div class="panel vertical-middle">
				<div class="text-center">
					<span class="mr-10">
						<i class="ion-md-heart"></i>12
					</span>
					<span>
						<i class="ion-ios-chatboxes"></i>0
					</span>
				</div>
			</div>
			<img src="/assets/img/testimgs/greece.jpg">
		</div>
	</div>
	<div class="wrapper">
		<div class="unit drop-shadow">
			<div class="panel vertical-middle">
				<div class="text-center">
					<span class="mr-10">
						<i class="ion-md-heart"></i>12
					</span>
					<span>
						<i class="ion-ios-chatboxes"></i>0
					</span>
				</div>
			</div>
			<img src="/assets/img/testimgs/me.jpg">
		</div>
	</div>
	<div class="wrapper">
		<div class="unit drop-shadow">
			<div class="panel vertical-middle">
				<div class="text-center">
					<span class="mr-10">
						<i class="ion-md-heart"></i>12
					</span>
					<span>
						<i class="ion-ios-chatboxes"></i>0
					</span>
				</div>
			</div>
			<img src="/assets/img/testimgs/soup.jpeg">
		</div>
	</div>
	<div class="wrapper">
		<div class="unit drop-shadow">
			<div class="panel vertical-middle">
				<div class="text-center">
					<span class="mr-10">
						<i class="ion-md-heart"></i>12
					</span>
					<span>
						<i class="ion-ios-chatboxes"></i>0
					</span>
				</div>
			</div>
			<img src="/assets/img/testimgs/studio_logo.png">
		</div>
	</div>
</div>