<div *ngIf="pool.tasks.length > 0" class="gallery">
	<div *ngIf="pool.user == userProvider.user.user_id" class="wrapper">
		<div class="unit" style="background-color: #dcdde3;display: inline-block;vertical-align: inherit;display: inline-block;vertical-align: inherit;">
			<div class="vertical-middle" style="height: 100%;position: absolute; width: 100%;" (click)="addUnit()">
				<div class="text-center">
					<span class="text-grey" style="font-size: 2em">
						<i class="ion-md-add"></i>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div *ngFor="let unit of pool.tasks" class="wrapper">
		<div class="unit drop-shadow" (click)="openUnit(unit._id)">
			<div class="panel vertical-middle">
				<div class="text-center">
					<span class="mr-10">
						<i class="ion-md-heart"></i>{{unit.likes.length}}
					</span>
					<span>
						<i class="ion-md-paper-plane"></i>{{unit.comments.length}}
					</span>
				</div>
			</div>
			<img src="{{unit.image}}">
		</div>
	</div>

</div>

<div *ngIf="pool.tasks.length == 0" class="mt-10 text-center">
	<span>Nothing here. Try to <button mat-button class="ng-light-grey weight-300" (click)="addUnit()">add</button> new image</span>
</div>