<mat-card>
	<h4>
		Message
		<input type="text" name=" "[(ngModel)]="name" style="background: #eff0f6;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    float: right;
    text-align: center;">
	</h4>
	<div class="content">

		<div *ngIf="loading" class="loader">
			<div class="boxes">
				<div class="box">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="box">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="box">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="box">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>

		<div *ngFor="let message of messages" class="message">
			<div>
				<span class="author">{{message.name}}</span>
				<span class="time">{{message.time | date: 'shortTime'}}</span>
			</div>
			<div>
				<span class="text">
					{{message.text}}
				</span>
			</div>
		</div>

	</div>
	<div class="message-input">
		<form (ngSubmit)="send_message()">
			<input name="text" type="text" [(ngModel)]="messagetext">
			<button  mat-flat-button color="primary">Send</button>	
		</form>	
	</div>
</mat-card>