.text-separator{
	color: #9093aa;
	&>small::before,
	&>small::after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: .05em;
		width: 40%;
		background-color: #b2b3be;
	    margin: 0 10px;
	}
}
.connect-actions{
	text-align: center;
	& button{
		width: 140px;
		margin: 20px 10px;
		&  i{
			vertical-align: inherit;
			margin-right: 10px
		}
	}
}
.register-container div.ui.input{
	margin: 12px 0;
	& input:not([type=checkbox]){
		padding: 20px 12px;
		background-color: #fbfcff;
    	transition: 250ms;
    	border: 1px rgba(0, 0, 0, 0.14) solid;
		box-sizing: border-box;
		width: 100%;
		&:focus{
			background-color: #fff;
			border-color: #85b7d9;
		}
	}
	& input[type=checkbox]{
		margin-right: 10px;
	}
}
.register-button{
	background-color: #497b9b;
    padding: 2px 20px;
    border-radius: 4px;
    transition: 250ms;
    &:hover{
    	box-shadow: 0 0 12px #8ccceb;
    }
}