<mat-card class="card" style="border: 1px #d9dbea solid;box-shadow: none;">
	<img src="assets/img/rocket.gif" style="position: absolute;top: -18px;left: 0;max-width: 150px;transform: rotate(90deg);">
	<h2 class="text-center weight-300" style="margin-top: 1em;color: #808e97">
		Create account
	</h2>
	<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" style="padding: 12px 34px;margin-bottom: 20px">

		<div class="register-container">
			<div class="ui left icon input d-block">
				<i class="ion-md-happy icon"></i>
				<input matInput placeholder="Username" type="text" formControlName="name" autocomplete="off">
			</div>

			<div class="ui left icon input d-block">
				<i class="ion-md-laptop icon"></i>
				<input matInput placeholder="E-mail" type="text" formControlName="email" autocomplete="off">
			</div>

			<div class="ui left icon input d-block">
				<i class="ion-md-key icon"></i>
				<input matInput placeholder="Password" 
						[type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button" 
						style="top: 10px; position: absolute; right: 10px;">
					<i class="ion-md-eye{{hide ? '-off' : ''}}"></i>
				</button>
			</div>

			<!-- <mat-form-field style="display: block;margin: 8px" appearance="outline">
					<i mat-icon-button matPrefix class="ion-md-heart-empty"></i>
					<mat-label>User name</mat-label>
					<input matInput placeholder="Enter your user name" type="text" formControlName="name">
			</mat-form-field> -->
<!-- 		<mat-form-field style="display: block;margin: 8px" appearance="outline">
				<mat-label>Your password</mat-label>
				<input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button" style="top: -9px">
					<i class="ion-md-eye{{hide ? '-off' : ''}}"></i>
				</button>
			</mat-form-field> -->

		</div>
		<div style="margin-top: 20px" class="text-right">
	  		<button mat-flat-button color="primary" class="button register-button" type="submit">
				<i class="ion-ios-log-in" style="margin-right: 10px"></i>
				Sign up
			</button>
		</div>
	</form>

	<div class="text-separator text-center">
		<small>or login with</small>
	</div>
	<div class="connect-actions row">
		<div class="col s12 m4">
			<button mat-flat-button color="primary" style="background-color: #646c99"><i class="ion-logo-facebook"></i> Facebook</button>
		</div>
		<div class="col s12 m4">
			<button mat-flat-button color="warn" style="background-color: #f15f5f"><i class="ion-logo-google"></i> Google</button>
		</div>
		<div class="col s12 m4">
			<button mat-flat-button color="primary" style="background-color: #36373d"><i class="ion-logo-github"></i> Github</button>
		</div>
	</div>
	<div class="legend">
		<span class="small-text">© foliage, 2019</span>
		<a href="" class="text-grey small-text">Restore password</a>
		<a (click)="openLogin()" class="text-grey small-text">Login</a>
		<a href="" class="text-grey small-text">AGB</a>
		<a href="" class="text-grey small-text">Privacy</a>
		<a href="" class="text-grey small-text">Security</a>
		<a href="" class="text-grey small-text">Cookies</a>
		<a href="" class="text-grey small-text">Help</a>
	</div>
</mat-card>