.text-separator{
	color: #9093aa;
	&>small::before,
	&>small::after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: .05em;
		width: 35%;
		background-color: #b2b3be;
	    margin: 0 10px;
	}
}
.connect-actions{
	text-align: center;
	padding: 0 22px;
    margin-top: 25px;
	& button{
		width: 100%;
		margin:10px 0;
		&  i{
			vertical-align: inherit;
			margin-right: 10px
		}
	}
}
.register-container div.ui.input{
	margin: 12px 0;
	& input:not([type=checkbox]){
		padding: 20px 12px;
		background-color: #fbfcff;
    	transition: 250ms;
    	border: 1px rgba(0, 0, 0, 0.14) solid;
		box-sizing: border-box;
		width: 100%;
		&:focus{
			background-color: #fff;
			border-color: #85b7d9;
		}
	}
	& input[type=checkbox]{
		margin-right: 10px;
	}
}
.register-button{
	background-color: #5ed1a7;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 250ms;
    display: block;
    width: 100%;
    &:hover{
    	background-color: #45aa85;
    }
}
.legend{
	margin: 20px auto !important;
	max-width: 100%;
	padding: 0 25px;
	& a{
		margin: 0 4px;

	}
	& span{
		margin: 0 10px;
	}
}