<header>
    <div class="row">
        <div class="col s10 m3 l2">
            <a routerLink="/">
                <img src="assets/img/logo.png" class="logo">
            </a>
        </div>
        <div class="col s0 m7 l3">
            <div class="ui icon input header-element full-width">
                <input type="text" placeholder="Search for something" [(ngModel)]="search_string">
                <i *ngIf="search_string === ''" class="icon ion-ios-search"></i>
                <button *ngIf="search_string !== ''" (click)="clearSearch()" class="icon" mat-icon-button>
                    <i class="ion-ios-close"></i>
                </button>
            </div>
        </div>
        <div class="col s0 m0 l4">
            <a routerLink="/explore" mat-button class="header-element ml-10">
                Get started
            </a>
            <a routerLink="/explore" mat-button class="header-element ml-10">
                Explore
            </a>
        </div>

        <div class="col s0 m0 l3">
            <button *ngIf="!userService.isLoggedIn" mat-flat-button class="header-element login weight-300" (click)="openLogin()">
                Log in
            </button>
            <a *ngIf="!userService.isLoggedIn" routerLink="/signup" mat-button class="header-element signup">
                Sign up
            </a>

            <button *ngIf="userService.isLoggedIn" style="background: #f5dc56" 
                mat-button [matMenuTriggerFor]="userMenu" class="header-element float-right weight-300">
                <i class="ion-ios-arrow-down mr-10"></i>
                {{userService.user.user_id}}
            </button>

            
            <mat-menu #userMenu="matMenu" class="small-dropdown no-pb user-menu" xPosition="before">
                <a mat-menu-item routerLink="/user">
                    <i class="ion-md-happy mr-10"></i>
                    Profile
                </a>
                <a mat-menu-item routerLink="/studio">
                    <i class="ion-ios-color-wand mr-10"></i>
                    Studio
                </a>
                <a mat-menu-item routerLink="/news">
                    <i class="ion-ios-crop mr-10"></i>
                    News
                </a>
                <a mat-menu-item routerLink="/msg">
                    <i class="ion-md-paper-plane mr-10"></i>
                    Messages
                </a>
                <a mat-menu-item routerLink="/settings">
                    <i class="ion-md-options mr-10"></i>
                    Settings
                </a>
                <a mat-menu-item (click)="onLogout()" style="color: #f44336">
                    <i class="ion-ios-log-out mr-10"></i>
                    Logout
                </a>
                <a mat-menu-item (click)="explorePremium()" class="cool-menu-item mt-10 weight-300">
                    <i class="ion-ios-rocket mr-10"></i>
                    Discover foliage
                </a>
            </mat-menu>    

            <button *ngIf="userService.isLoggedIn" mat-button class="header-element float-right mr-10" style="font-size: 20px">
                <i class="ion-ios-notifications-outline"></i>
            </button>        
        </div>

        <div class="col m2 s2 l0 text-right">
            
            <mat-menu  #menu="matMenu">
                <button mat-menu-item><i class="ion-md-globe mr-10"></i> Explore</button>
                <button mat-menu-item><i class="ion-md-gift mr-10"></i> Get started</button>
                <button mat-menu-item><i class="ion-md-log-in mr-10"></i> Log in</button>
            </mat-menu>
            <button mat-icon-button style="margin-top: 5px" [matMenuTriggerFor]="menu">
                <i class="ion-ios-menu"></i>
            </button>
        </div>        

    </div>
</header>

<router-outlet></router-outlet>