<p *ngIf="!connected" style="text-align: center;">No connection to database!</p>

<mat-card *ngFor="let project of projects" class="card" [@slideInOut]>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{project.name}}</mat-card-title>
    <mat-card-subtitle>{{project.authname}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p>
      {{project.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button  mat-icon-button color="accent" (click)="like(project)">
      <i class="ion-md-heart{{project.liked ? '' : '-empty'}}"></i>

    </button>
    <button  mat-button color="accent">
      <i class="ion-md-quote"></i>
		12
    </button>
  </mat-card-actions>
</mat-card>
