
<div class="no-with-sidenav">
	<div class="row p-16">
		<div class="col s6 m8 row">


			<div class="col s12">
				<div class="pb-10 row panel rounded pt-10 col s12" style="margin: 10px 0;max-width: 650px;float: right;">
					<div class="col s12 m6">
						
						<button mat-button class="mr-10 weight-300" (click)="goBack()">
							<i class="ion-ios-arrow-round-back mr-10" style="vertical-align: unset;"></i>
							Pool
						</button>

						<button [matMenuTriggerFor]="status" mat-button class="bg-light-grey">
							{{ (task.status == 0) ? 'Waiting' : (task.status == 1) ? 'To do' : (task.status == 2) ? 'In progress' : 'Done' }}
			                <i class="ion-ios-arrow-down ml-10" style="vertical-align: unset;"></i>
			            </button>    

			            <mat-menu #status="matMenu" xPosition="after">
			                <button mat-menu-item (click)="setStatus(1)">To do</button>
			                <button mat-menu-item (click)="setStatus(2)">In progress</button>
			                <button mat-menu-item (click)="setStatus(3)">Done</button>
			            </mat-menu>

					</div>

					<div class="col s12 m6 text-right no-right-actions">
						
						<button mat-button color="warn" class="weight-300 mr-10" (click)="delete()" >
							<i class="ion-ios-trash mr-10" style="vertical-align: unset;"></i>
							Delete task
						</button>

						<button mat-button class="weight-300 bg-light-grey" (click)="openPoolSettings()">
							<i class="ion-ios-cog mr-10" style="vertical-align: unset;"></i>
							Settings
						</button>
					</div>
				</div>
			</div>
			<div class="col s12">
				<mat-card class="rounded light-border p-26 col s12 no-mb" style="float: right;">
					<div class="row">
						<div class="col s12 m6 l4 xl3">
							<div class="user-photo">
								<img src="{{author_image}}">
							</div>
						</div>
						<div class="col s12 m6 l8 xl9">
							<span>{{task.user_id}}</span>
							<h3 class="weight-300 no-mb no-mt">
								{{task.name}}
							</h3>
							<span class="weight-300 small-text text-grey">
								Created at {{task.created | date: 'HH:mm dd.M'}}
							</span>
						</div>
					</div>
					
					<p class="weight-300">
						{{task.description}}
					</p>
				</mat-card>

				<mat-card *ngFor="let comment of task.comments" class="rounded light-border p-26 col s12 no-mb" style="float: right">
					<div class="mb-10 mr-10" style="display: inline-block;">
						<a routerLink="/user/{{comment.author}}" class="mr-10">{{comment.author}}</a>
						<span class="small-text text-grey">{{comment.created | date: 'HH:mm dd.M'}}</span>
					</div>

					<p>{{comment.content}}</p>
				</mat-card>

				<mat-card class="rounded light-border p-26 col s12" style="float:right;">
					<mat-form-field class="d-block col s12" appearance="outline" style="padding: 0">
						<mat-label>Description</mat-label>
						<textarea matInput type="text" [(ngModel)]="comment" autocomplete="off" class="full-width" style="min-height: 45px" placeholder="Write a comment"></textarea>
					</mat-form-field>
					<div class="text-right mt-10">
						<!-- <mat-slide-toggle color="primary" class="mr-10">Close</mat-slide-toggle> -->
						<button mat-flat-button class="text-white bg-green" (click)="commentTask()">Comment</button>
					</div>
				</mat-card>
			</div>
		</div>

		<div class="col s6 m4">
			<div class="p-26 no-pt">
				<img src="/assets/img/illustration_woman.svg" class="full-width">
			</div>

		</div>
	</div>	
</div>
