
<div class="no-with-sidenav">
	<div class="row no-mb">

		<div class="col s6 m2">
			<!-- <div class="p-16">
				<mat-slide-toggle color="warn" class="weight-300">only my tasks</mat-slide-toggle>
			</div>
			<div *ngFor="let task of pool.tasks" class="_status{{task.status}}">
				<div style="cursor: pointer" (click)="openTask(task._id)" class="drop-shadow task bg-white">
					<span class="small-text"><span class="indicator"></span>{{task.name}}</span>
					<span class="text-grey" style="float: right;font-size: 0.7em">{{task.created | date: 'MMM d, HH:mm'}}</span>
					<p class="text-grey small-text weight-300 no-mt no-mb" style="max-height: 16px;overflow: hidden">{{task.description}}</p>
				</div>
			</div> -->
		</div>


		<div class="col s6 m7 row">
			<div class="col s12 status{{task.status}}">
				<mat-card class="rounded p-26 col s12 no-mb full-width">
					<div class="task-header">
						<div class="first-col user-photo">
							<img src="{{author_image}}">
						</div>
						<div class="second-col">
							<span class="d-block">{{task.user_id}}</span>
							<span class="d-block weight-300 small-text text-grey">
								Created at {{task.created | date: 'MMM d, HH:mm'}}
							</span>
						</div>
						<div class="third-col">
							<button mat-button class="weight-300 bg-light-grey mr-10" (click)="delete()" >
								<i class="ion-ios-trash mr-10" style="vertical-align: unset;"></i>
								Delete task
							</button>

							<button [matMenuTriggerFor]="status" mat-button class="bg-light-grey">
								{{ (task.status == 0) ? 'Waiting' : (task.status == 1) ? 'To do' : (task.status == 2) ? 'In progress' : 'Done' }}
				                <i class="ion-ios-arrow-down ml-10" style="vertical-align: unset;"></i>
				            </button>    

				            <mat-menu #status="matMenu" xPosition="after">
				                <button mat-menu-item (click)="setStatus(1)">To do</button>
				                <button mat-menu-item (click)="setStatus(2)">In progress</button>
				                <button mat-menu-item (click)="setStatus(3)">Done</button>
				            </mat-menu>
						</div>
					</div>
					
					<h4 class="pt-10 mt-10" style="font-weight: 500">
						{{task.name}}
					</h4>
					<p class="weight-300">
						{{task.description}}
					</p>
				</mat-card>
			</div>

			<div class="col s12">

				<h5 *ngIf="task.comments.length == 0" class="text-center text-grey weight-300">No comments</h5>

				<div *ngFor="let comment of task.comments">
					<mat-card *ngIf="!comment.intern" class="rounded light-border p-26 no-mb full-width col s12">
						<button mat-icon-button class="close-button" (click)="removeComment(comment._id)">
							<i class="ion-md-close"></i>
						</button>
						<div class="mb-10 mr-10 pb-10 no-light-border-bottom">
							<a routerLink="/user/{{comment.author}}" class="mr-10 text-dark">{{comment.author}}</a>
							<span class="small-text text-grey">{{comment.created | date: 'MMM d, HH:mm'}}</span>
						</div>

						<p class="weight-300">{{comment.content}}</p>
					</mat-card>

					<div *ngIf="comment.intern" class="intern p-26 col s12" style="margin-top: 12px">
						<div class="text-center">
							<a routerLink="/user/{{comment.author}}" class="mr-10 text-dark">{{comment.author}}</a>
							<span class="small-text text-grey">{{comment.created | date: 'MMM d, HH:mm'}}</span>
						</div>
						<p class="text-center weight-300 text-grey no-mt small-text">{{comment.content}}</p>
					</div>
				</div>

				

				<mat-card class="rounded light-border p-26 col s12 full-width">

					<div class="ui icon input header-element full-width">
		                <input type="text" placeholder="Comment" [(ngModel)]="comment" name="comment" autocomplete="off" tabindex="1">
		                <button (click)="commentTask()" class="icon" mat-icon-button type="submit">
		                    <i class="ion-md-paper-plane"></i>
		                </button>
		            </div>
		            <div class="text-right mt-10">
		            	<button mat-icon-button>
		            		<i class="ion-ios-image"></i>
		            	</button>
		            	<button mat-icon-button>
		            		<i class="ion-md-happy"></i>
		            	</button>
		            	<button mat-icon-button>
		            		<i class="ion-ios-link"></i>
		            	</button>
		            </div>

				</mat-card>
			</div>
		</div>


		<div class="col s6 m3">
			<div class="p-10">
				<div class="p-26" style="border-radius: 26px;background: repeating-linear-gradient(45deg, #fce6a8, #fcd3a8 260px)">
					<button mat-button class="mr-10" (click)="goBack()">
						<i class="ion-ios-arrow-round-back mr-10" style="vertical-align: unset;"></i>
						{{pool.name}}
					</button>
					<h5 class="weight-300">
						{{pool.description}}
					</h5>
				</div>
			</div>
			<!-- <div class="p-16 no-pt text-right">
				<button mat-button class="mr-10 weight-300" (click)="goBack()">
					<i class="ion-ios-arrow-round-back mr-10" style="vertical-align: unset;"></i>
					Pool
				</button>
				<img src="/assets/img/illustration_woman.svg" class="full-width">
			</div> -->

		</div>


	</div>	
</div>
