<div class="container p-16">

	<div class="row pb-10 light-border-bottom">
		<div class="col s12 m4">
			<img src="/assets/img/1.png" class="full-width">
		</div>
		<div class="col s12 m8 text-right">
			<h2 class="no-mb text-dark-blue">Let's get started with your own Studio</h2>
			<p class="weight-300 text-grey no-mt">To start we recommend you to take a look at some existing projects</p>
			<div class="text-right">
				<a routerLink="/explore" mat-button class="bg-light-grey weight-300 mr-10">Ask for help</a>
				<a routerLink="/explore" mat-button class="bg-bewed-primary weight-300">Discover projects</a>
			</div>
		</div>
	</div>

	<!-- TODO -->
	
</div>
