<footer>
	<div class="row container">
		<div class="col s6 m6 l3 weight-300 list">
			<h4 class="weight-300">Resources</h4>
			<a href="" class="d-block text-light-grey">Developers</a>
			<a href="" class="d-block text-light-grey">Privacy</a>
			<a href="" class="d-block text-light-grey">Community</a>
			<a href="" class="d-block text-light-grey">Help</a>
		</div>
		<div class="col s6 m6 l3 weight-300 list">
			<h4 class="weight-300">Languages</h4>
			<a href="" class="d-block text-light-grey">English</a>
			<a href="" class="d-block text-light-grey">Deutsch</a>
			<a href="" class="d-block text-light-grey">Русский</a>
			<a href="" class="d-block text-light-grey">Украiнська</a>
		</div>
		<div class="col s6 m6 l3 weight-300 list">
			<h4 class="weight-300">Links</h4>
			<a routerLink="/" class="d-block text-light-grey">Start</a>
			<a routerLink="/explore" class="d-block text-light-grey">Explore</a>
			<a routerLink="/explore" class="d-block text-light-grey">Get started</a>
			<a routerLink="/signup" class="d-block text-light-grey">Sign up</a>
		</div>
		<div class="col s6 m6 l3 weight-300 list">
			<h4 class="weight-300">Social</h4>
			<a href="" class="text-light-grey icon"><i class="ion-logo-github"></i></a>
			<a href="" class="text-light-grey icon"><i class="ion-logo-instagram"></i></a>
			<a href="" class="text-light-grey icon"><i class="ion-logo-youtube"></i></a>
			<img src="assets/img/studio_logo.png" class="full-width logo">
		</div>
	</div>
	<p class="text-light-grey text-center weight-300 small-text" style="margin-bottom: 0">
		© foliage, 2019-2020. All rights reserved. Germany
	</p>
</footer>