<form class="p-16" [formGroup]="form" (ngSubmit)="save(form.value)" style="width: 550px">
	<button mat-icon-button class="close-button" (click)="close()" type="button">
		<i class="ion-md-close"></i>
	</button>
	<h3 class="weight-300 no-mb no-mt">Create new task</h3>
	<h5 class="weight-300 text-grey no-mt">specify name and description</h5>
	<mat-form-field class="d-block mt-10" appearance="outline">
		<mat-label>Task name</mat-label>
		<input matInput type="text" formControlName="name" autocomplete="off" required="required">
	</mat-form-field>
	<mat-form-field class="d-block" appearance="outline">
		<mat-label>Description</mat-label>
		<textarea matInput type="text" formControlName="description" autocomplete="off" required="required" style="min-height: 3em"></textarea>
	</mat-form-field>
	<div class="mt-10 text-right">
		<button mat-button class="mr-10 weight-300" type="button" (click)="close()">Cancel</button>
		<button mat-button class="text-white bg-green weight-300" style="padding: 0 40px" type="submit">Save</button>
	</div>
</form>