<div class="container" style="width: 550px">
    <div class="row" style="margin-top: 5%;">
    	<div class="col s6">
			<span class="text-grey weight-300 p-10">Upload Image</span>
    	</div>
        <div class="text-right col s6">
            <input id="upload-button" style="display: none;" type="file" (change)="fileChangeEvent($event)" />
            <button mat-button class="bg-light-grey weight-300" onClick="document.getElementById('upload-button').click()">
            	<i class="ion-ios-camera mr-10" style="vertical-align: unset;"></i>
            	Select image
            </button>
        </div>
    </div>
    <div class="row" style="margin-top: 5%;">
        <div class="text-center col s12">
        	<mat-progress-bar *ngIf="loading" mode="indeterminate" [value]="progress" class="mb-10 mt-10"></mat-progress-bar>

        	<img *ngIf="croppedImage.length == 0" src="{{user_photo}}" class="full-width">

        	<h3 *ngIf="loading" class="text-center weight-300 text-grey">image is loading</h3>
            <image-cropper style="max-height: 70vh;"
	            [imageChangedEvent]="imageChangedEvent" 
	            [maintainAspectRatio]="false" 
	            [aspectRatio]="4 / 4"
	            [resizeToWidth]="256" 
	            format="png" 
	            (imageCropped)="imageCropped($event)" 
	            (imageLoaded)="imageLoaded()"
	            (cropperReady)="cropperReady()" 
	            (loadImageFailed)="loadImageFailed()">
	        </image-cropper>
        </div>
        <div class="text-right col s12 mt-10">
        	<button mat-button class="bg-light-grey weight-300 mr-10" (click)="close()">Cancel</button>
            <button mat-flat-button class="weight-300" color="primary" (click)="save()" [disabled]="croppedImage.length === 0">Save</button>
        </div>
    </div>
</div>