<div class="sidenav" *ngIf="sidenavEnabled">
    <ul>
        <li>
            <a (click)="newEntity()">
                <i class="ion-md-add"></i>
                <span class="small-text d-block text-center">new</span>
            </a>
        </li>
        <li>
            <a (click)="newEntity()">
                <i class="ion-md-paper-plane"></i>
                <span class="small-text d-block text-center">chat</span>
            </a>    
        </li>
        <li>
            <a (click)="newEntity()">
                <i class="ion-md-ribbon"></i>
                <span class="small-text d-block text-center">issues</span>
            </a>
        </li>
        <li>
            <a (click)="newEntity()">
                <i class="ion-md-stopwatch"></i>
                <span class="small-text d-block text-center">time</span>
            </a>
        </li>
        <li>
          <a (click)="newEntity()">
                <i class="ion-md-gift"></i>
                <span class="small-text d-block text-center">awards</span>
            </a>
        </li>
    </ul>
</div>