<div class="d-block m-auto p-26 container" style="min-height: calc(100vh - 320px)">
	<mat-tab-group>
		<mat-tab label="General">
			<form [formGroup]="settingsForm" (ngSubmit)="saveGeneral(settingsForm.value)" class="p-16 rounded bg-white light-border mt-10">
				<div class="row">
					<div class="col s12">
						<mat-progress-bar mode="determinate" [value]="progress" class="mb-10 mt-10"></mat-progress-bar>
					</div>
				</div>
				<div class="row no-mb">
					<div class="col s12 m6">
						<mat-form-field class="d-block"  appearance="outline">
							<mat-label>First name</mat-label>
							<input matInput type="text" formControlName="firstName" autocomplete="off" [value]="user.firstName || ''" required="required">
						</mat-form-field>

						<mat-form-field class="d-block"  appearance="outline">
							<mat-label>Last name</mat-label>
							<input matInput type="text" formControlName="lastName" autocomplete="off" [value]="user.lastName || ''" required="required">
						</mat-form-field>

						<div class="row no-mb">
							<div class="col s12 m6">
								<mat-form-field class="d-block" appearance="outline">
									<mat-label>Gender</mat-label>
									<mat-select placeholder="Gender" formControlName="gender">
										<mat-option value="male">Male</mat-option>
										<mat-option value="female">Female</mat-option>
										<mat-option value="another">Another</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="col s12 m6">
								<mat-form-field class="d-block" appearance="outline">
									<mat-label>Birthday</mat-label>
									<input matInput [matDatepicker]="picker" formControlName="birthday" autocomplete="off" [value]="user.birthday || ''">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker #picker></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
						
						<mat-form-field class="d-block" appearance="outline">
							<mat-label>Location</mat-label>
							<input matInput type="text" formControlName="location" autocomplete="off" [value]="user.location || ''" required="required">
						</mat-form-field>

					</div>

					<div class="col s12 m6">
						<div class="rounded light-border text-center p-relative" style="min-height: 233px;background: #e8eaf5b8">
							<img src="{{user.photo}}" class="full-width p-absolute" style="max-height: 100%;left:0;object-fit: contain;">
							<i class="ion-md-camera text-grey d-block" style="margin-top: 75px;font-size: 3em"></i>
							
						</div>
						<div class="weight-300 text-right" style="margin-top: 2.5em">
							<button mat-button color="warn" type="button" class="mr-10" (click)="deleteImage()">
								Delete current photo
							</button>
							<button mat-button type="button" class="bg-light-grey weight-300" (click)="uploadImage()">
								<i class="ion-md-camera mr-10" style="vertical-align: unset;"></i>
								Upload photo
							</button>
						</div>
					</div>
					
				</div>

				<div class="row no-mb">
					<mat-form-field class="d-block col s12 m6" appearance="outline">
						<mat-label>Display name</mat-label>
						<input matInput type="text" formControlName="name" autocomplete="off" [value]="user.name || ''" required="required">
						<mat-hint>Your page will be named with display name</mat-hint>
					</mat-form-field>

					<mat-form-field class="d-block col s12 m6"  appearance="outline">
						<mat-label>Page link</mat-label>
						<input matInput type="text" autocomplete="off" [value]="link" readonly>
						<button mat-icon-button matSuffix (click)="copyLink()" type="button" class="p-absolute" style="top:-35px;right:2px">
							<i class="ion-ios-link"></i>
						</button>
					</mat-form-field>
				</div>

				<div class="row">
					<mat-form-field class="d-block col s12"  appearance="outline">
						<mat-label>Status</mat-label>
						<textarea matInput type="text" formControlName="status" autocomplete="off" [value]="user.status || ''"></textarea>
					</mat-form-field>
				</div>
				<div class="row">
					<div class="col s12 text-right">
						<a routerLink="/user" mat-button class="mr-10 weight-300">Cancel</a>
						<button mat-flat-button type="submit" color="primary" [disabled]="saveDisabled" style="padding: 0 44px">
							Save
						</button>
					</div>
				</div>
			</form>
		</mat-tab>
		<mat-tab label="Security">
			<form [formGroup]="securityForm" (ngSubmit)="saveSecurity(securityForm.value)" class="p-16 rounded bg-white light-border mt-10">
				<div class="row">
					<div class="col s12">
						<mat-progress-bar mode="determinate" color="warn" value="70" class="mb-10 mt-10"></mat-progress-bar>
					</div>
				</div>
				<div class="row">

					<div class="col s12 m6">
						<mat-form-field class="d-block"  appearance="outline">
							<mat-label>User ID</mat-label>
							<input matInput type="text" autocomplete="off" [value]="user._id" readonly>
						</mat-form-field>
					</div>

					<div class="col s12 m6">
						<mat-form-field class="d-block"  appearance="outline">
							<mat-label>E-mail</mat-label>
							<input matInput type="email" formControlName="email" autocomplete="off" [value]="user.email || ''" required>
						</mat-form-field>
					</div>

					<div class="col s12 m6">
						<mat-form-field class="d-block"  appearance="outline">
							<mat-label>Second E-mail</mat-label>
							<input matInput type="email" formControlName="sec_email" autocomplete="off" [value]="user.sec_email || ''">
						</mat-form-field>
					</div>

					<div class="col s12 m6">
						<mat-form-field class="d-block"  appearance="outline">
							<mat-label>Tel. number</mat-label>
							<input matInput type="tel" formControlName="tel" autocomplete="off" [value]="user.tel || ''">
						</mat-form-field>
					</div>

				</div>

				<div class="row">
					<div class="col s6 m3">
						<button mat-button class="weight-300" type="button" (click)="onChangePassword()">
							<i class="ion-md-key mr-10"></i>
							Change password
						</button>
					</div>
					<div class="col s6 m3">
						<button mat-button class="weight-300 bg-light-grey" type="button" (click)="logoutOther()" [disabled]="logoutOtherDisabled">
							<i class="ion-md-close mr-10"></i>
							Log out other sessions
						</button>
					</div>
					<div class="col s12 m6 text-right">
						<button mat-flat-button type="submit" color="primary" [disabled]="saveSecurityDisabled" style="padding: 0 44px">
							Save
						</button>
					</div>
				</div>
			</form>
		</mat-tab>
		<mat-tab label="Privacy">
			<div class="p-16 text-center">
				<img src="assets/img/illustration_woman.svg" class="max-full-width">
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
<app-footer></app-footer>