<app-sidenav></app-sidenav>
<div class="with-sidenav">
	<div *ngIf="pools.length === 0" class="row">
		<div class="col s12 text-center">
			<h4 class="weight-300 text-grey">You do not have any pools yet</h4>
			<button mat-flat-button color="warn" class="bg-green" (click)="addPool()">
				<i class="ion-ios-add mr-10"></i>
				Create pool
			</button>
		</div>
	</div>

	<div *ngIf="pools.length > 0">
		<div class="row mt-10 no-mb p-16">
			<div class="col s12">
				<button mat-button class="bg-light-grey weight-300" (click)="addPool()">
					New pool
				</button>
			</div>
		</div>
		<div class="row p-16">
			<div *ngFor="let pool of pools" class="col s12 m6 l3">
				<div class="light-border rounded bg-white p-16 pointer drop-shadow mt-10" (click)="openPool(pool)">
					<h4 class="weight-300 text-grey mt-10">
						<i *ngIf="pool.private" class="ion-ios-lock float-right"></i>
						{{pool.name}}
						<mat-chip-list class="bewed-chips" style="display: inline-block;">
							 <mat-basic-chip>{{pool.viewCategory || pool.category}}</mat-basic-chip>
						</mat-chip-list>
					</h4>
					<p>Info will appear later</p>
				</div>
			</div>
		</div>
	</div>
</div>