<div *ngIf="users.length > 0" class="mt-10 row container">
<!-- 	<div class="col s12 cover p-relative">
		<h2 class="text-white bold">Explore creators</h2>
	</div> -->
	<div *ngFor="let user of users" class="col s12 m4 l3">
		<mat-card class="p-16 light-border">

				<div class="user-photo mr-10" style="display: inline-block;">
					<img src="{{user.photo || '/assets/img/dpi.png'}}">
				</div>
				<div style="display: inline-block;vertical-align: top">
					<a class="text-dark d-block" routerLink="/user/{{user._id}}">
						<i *ngIf="user.verified" class="ion-ios-checkmark-circle text-orange" style="margin-right:3px"></i>
						{{user.name}}
					</a>
					<span class="text-grey weight-300 text-small d-block" style="min-height: 20px">
						{{user.location}}
					</span>
				</div>
			
			<button class="mt-10 d-block bg-light-grey full-width weight-300" mat-button>
				<i class="ion-ios-arrow-round-forward mr-10"></i>
				Follow
			</button>
		</mat-card>
	</div>
</div>

<div *ngIf="users.length == 0" class="container mt-10">
	<h3 class="text-grey weight-300 text-center">
		No users found
	</h3>
</div>